<h1 class="text-center">Productos</h1>
<h2>
  Bienvenido: {{users.firstname}}
  <h2 class="text-center">Rol: {{users.admin}}</h2>
    
</h2>
                          
<table id="table" class="table">
 <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col" >Title</th>
      <th scope="col" >Description</th>
      <th scope="col" >Price</th>
      <th scope="col" >Thumbnail</th>
      <th scope="col" >Status</th>
      <th scope="col" >Category</th>
      <th scope="col" >Code</th>
      <th scope="col" >Stock</th>
      {{#if isAdmin}} <!-- Condición para mostrar la columna "Eliminar" <button onclick="addCart()">add cart</button>   -->
        <th scope="col" >Eliminar</th>
      {{/if}}
    </tr>
  </thead>
<tbody>
   {{#each products}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.title}}</td>
        <td>{{this.description}}</td>
        <td>{{this.price}}</td>
        <td>{{this.thumbnail}}</td>
        <td>{{this.status}}</td>
        <td>{{this.category}}</td>
        <td>{{this.code}}</td>
        <td>{{this.stock}}</td>
        {{#if @root.isAdmin}} <!-- Condición para mostrar el botón de eliminar <script src='/js/boton.js'></script>-->
          <td>
             <button onclick="deleteProduct('{{this.id}}')">Eliminar</button>
          </td>
        {{/if}}
       </tr>
      {{/each}}
</tbody>
</table>
<a  href='api/sessions/logout'>logout</a>
<a href={{pagination.prevLink}}> prevPages </a>
<a href={{pagination.nextLink}}> nextPages </a>
<script src='/js/boton.js'></script>
